body{
    background-image: url(../Assets/backgroundAccount3.png);
    background-position: top;
    background-attachment: fixed;
}

.background-modal{
    background-image: url(../../Assets/CardLogin3.png);
    background-position: center;
    
}