body{
    background-image: url(../Assets/BackgroundHub.png);
    background-attachment: fixed;
}


.background-modal{
    background-image: url(../Assets/CardLogin3.png);
    background-position: center;
    
}

.radius-modal{
    border-radius: 30px  ;
}
